<!--User Forms-->
<div class="container" ng-hide="$root.currentUser">

	<!--Setup form-->
	<div ng-show="controller.showBoxSetup">
		<div class="alert alert-info fade in" ng-hide="hideAuthInfo">
			<button type="button" class="close" ng-click="hideAuthInfo = true">×</button>
			<span class="glyphicon glyphicon-info"></span>
			<h4>Herzlich Willkommen bei OpenWall!</h4>
			Dies ist das Admin-Interface. Damit wirklich nur berechtigte Personen die Nutzer freischalten können, solltest du jetzt das Admin-Passwort setzen. Du kannst das Passwort zurücksetzen, indem du <code>$ meteor reset</code> in der Konsole eingibst.
		</div>
		<form class="admin-form">
			<h2 class="admin-form-heading">OpenWall Setup</h2>
			
			<input type="text" class="form-control" placeholder="Nutzername" ng-model="name" required autofocus>
			<input type="password" class="form-control" placeholder="Passwort" ng-model="password" required>
			<input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="register()" value="Admin festlegen">
		
		</form>
	</div>

	<!--Login Form-->
	<form class="admin-form" ng-hide="controller.showBoxSetup">
		<h2 class="admin-form-heading">Einloggen</h2>
		
		<!--Login error-->
		<div class="alert alert-danger fade in" ng-show="authError">
			<button type="button" class="close" ng-click="authError = false">×</button>
			<span class="glyphicon glyphicon-exclamation-sign"></span> Fehlerhafte Nutzerdaten
		</div>
		
		<input type="text" class="form-control" placeholder="Nutzername" ng-model="name" required autofocus>
		<input type="password" class="form-control" placeholder="Passwort" ng-model="password" required>
		<input type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" value="Anmelden">
	</form>

</div>


<!--Admin Controls-->
<div class="container" ng-show="$root.currentUser">
	<div class="row">
		<div class="controller col-md-6 col-md-offset-3">
		
			<!--Menu Bar-->
			<div class="btn-group settings">
				<button type="button" class="btn btn-success" ng-click="setMotor(1, 0); setMotor(2, 0); moveToStart(!controller.movingToStart)">
					Fahre zum Start
					<span ng-if="controller.movingToStart" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
				</button>
				<div class="btn-group" dropdown>
					<button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle ng-disabled="disabled">
						Optionen <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="" ng-click="calibrateStart()">Start kalibrieren</a></li>
						<li><a href="" ng-click="calibrateCheckPoint1()">Checkpoint 1 kalibrieren</a></li>
						<li><a href="" ng-click="calibrateCheckPoint2()">Checkpoint 2 kalibrieren</a></li>
						<li><a href="" ng-click="calibrateCheckPoint3()">Checkpoint 3 kalibrieren</a></li>
						<li><a href="" ng-click="calibrateMaxHeight()">Maximalhöhe kalibrieren</a></li>
						<li><a href="" ng-click="removeMaxHeight()">Maximalhöhe zurücksetzen</a></li>
						<li class="divider"></li>
						<li><a href="" ng-click="logout()">Logout</a></li>
					</ul>
				</div>
			</div>
			
			<!--Motor controls-->
			<div class="motorController">
				<span class="controlArrow glyphicon glyphicon-arrow-up" ng-mousedown="setMotor(1, 1);" ng-touchstart="setMotor(1, 1);" ng-mouseup="setMotor(1, 0);" ng-touchend="setMotor(1, 0);" ng-class="{'active' : controller.state1 == 1}"></span>
				<span class="controlArrow glyphicon glyphicon-arrow-up" ng-mousedown="setMotor(2, 1);" ng-touchstart="setMotor(2, 1);" ng-mouseup="setMotor(2, 0);" ng-touchend="setMotor(2, 0);" ng-class="{'active' : controller.state2 == 1}"></span>
				
				<br />
				
				<span class="controlArrow glyphicon glyphicon-arrow-down" ng-mousedown="setMotor(1, -1);" ng-touchstart="setMotor(1, -1);" ng-mouseup="setMotor(1, 0);" ng-touchend="setMotor(1, 0);" ng-class="{'active' : controller.state1 == -1}"></span>
				<span class="controlArrow glyphicon glyphicon-arrow-down" ng-mousedown="setMotor(2, -1);" ng-touchstart="setMotor(2, -1);" ng-mouseup="setMotor(2, 0);" ng-touchend="setMotor(2, 0);" ng-class="{'active' : controller.state2 == -1}"></span>
				
			</div>
		
			<!--The current players-->
			<div class="actualPlayers">
				<div class="btn-group btn-group-lg" ng-if="controller.player1">
					<button class="btn btn-primary" disabled>
						Spieler 1: <span class="ticket">{{getTicketFromId(controller.player1)}}</span>
					</button>
					<button class="btn btn-primary" ng-click="setPlayer(1, 0)">
						<span class="glyphicon glyphicon glyphicon-remove"></span>
					</button>
				</div>
				<div class="btn-group btn-group-lg" ng-if="controller.player2">
					<button class="btn btn-primary" disabled>
						Spieler 2: <span class="ticket">{{getTicketFromId(controller.player2)}}</span>
					</button>
					<button class="btn btn-primary" ng-click="setPlayer(2, 0)">
						<span class="glyphicon glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</div>
			
			<!--All available players-->
			<table class="table" ng-show="(presence | filter:userIsPlaying).length > 0">
				<thead>
					<tr>
						<td>Warteliste</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in presence | filter:userIsPlaying">
						<td>
							<h5>{{$index+1}}.</h5>
						</td>
						<td>
							<div class="btn-group">
								<button class="btn" disabled>Ticket: <span class="ticket">{{ getTicketFromId(user._id) }}</span></button>
								<button class="btn btn-info"  ng-click="setPlayer(1, user._id)">
									Spieler 1
									<span class="glyphicon glyphicon-triangle-right"></span>
								</button>
								<button class="btn btn-info" ng-click="setPlayer(2, user._id)">
									Spieler 2
									<span class="glyphicon glyphicon-triangle-right"></span>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>